@font-face {
    font-family:Ubuntu;
    src: url(../Font/static/UbuntuSans-SemiBold.ttf);
}
@font-face {
    font-family:UbuntUn;
    src: url(../Font/static/UbuntuSans-Regular.ttf);
}
@font-face {
    font-family: other;
    src: url(../Font/static/UbuntuSans_Condensed-ExtraBold.ttf);
}
body{
background-color: #f0faff;
scroll-behavior: smooth;
/* scroll-timeline: 2s; */
scrollbar-shadow-color: #1a1a1a;

}
 *{
     margin: 0px ;
     top: 0px;
     left: 0px;
     box-sizing: border-box;
     font-family: 'UbuntUn', sans-serif;
     /* font-family: 'other', sans-serif; */
 }
 .contain-header{
     display: flex;
     justify-content: space-around;
 }
 /* .cont-nav{
     display:  flex;
 } */
 .cont-nav > ul {
     display: flex;
     justify-content: space-around;
 }
 .cont-nav > ul > li{
     list-style: none;
     padding: 10px;
     /*#d9d9d9*/
     font-family: 'Ubuntu', sans-serif;
     font-weight: bold;
     transition: transform 0.5s ease;
 }
 .cont-nav > ul > li > a{
    text-decoration: none;
    color:  #737373;
 }
 .cont-nav > ul > li:active {
    transform: scale(0.70);
    cursor: pointer;
    
 }
 .cont-nav > ul > li > a:active {
     transform: scale(0.30);
 }
 
 .cont-nav > ul > li > a:hover {
    cursor: pointer;
    color: #f2f2f2;
  }
 .log{
     padding: 10px  ;
     color: #d9d9d9;
     font-family: 'Ubuntu', sans-serif;
     font-weight: bold;
     font-size: 20px;
     background-image: linear-gradient(45deg ,rgb(226, 44, 226) ,rgb(44, 181, 226));
     -webkit-background-clip: text;
     color: transparent;
     
 }
 .all-cont-hd{
     height: 600px;
     background-image: url(../Logo/mac.jpg);
     background-size: cover;
     background-position: center;
     /*border-top-right-radius: 10rem;*/
     border-bottom-left-radius: 8rem;
     border-bottom-right-radius: 2rem;
 }
 .cont-main-word{
     color: white;
     display: grid;
     place-content : center;
     height: 470px;
 }
 .header-org-body{
     font-size:30px ;
     font-weight: bold;
 }
 /*.org-cont-body{
     display:grid ;
     place-content :center;
 }*/
 .cont-main-word{
     padding: 0rem 10rem;
 }
 .text-cont{
     /* font-family: monospace; */
     font-family: 'UbuntUn', sans-serif;
     
     font-size: 1rem;
     padding: 1rem 0rem;
     text-indent: 1%;
 }
 .button-for-b{
     padding: 1rem;
 }
 .cont-for-btn{
    position: relative;
     display: flex;
     place-content: center;
     margin-top: 2rem;  
 }
 .btn-one{
     margin-right: 1rem;

 } 
 .button-for-b{
     border: none;
     border-radius: 3rem; 
     width: 8rem;
 }
 .btn-one{
    /*border: 2px solid white;*/
    border: none;
    box-shadow: 0px 5px 10px rgb(226, 44, 226);
    background-color: black;
    color: white;
    font-weight: bold;
    transition: transform 0.2s ease  ;
    outline: none;
 }
 .btn-one:active {
       transform: scale(0.80);
 }
 .btn-two{
   position: relative;
   background-image: linear-gradient(to right ,rgb(226, 44, 226) ,rgb(44, 181, 226),white );
   /*border: 2px solid black;*/
   border: none;
   color: black;
   font-weight: bold;
   outline: none;
   z-index: 3;
   transition: transform 0.2s ease-in-out;
   box-shadow: 0px 5px 10px rgb(44, 181, 226);
 }
 .btn-two:active {
    transform: scale(0.80);
    box-shadow: 0px 2px 25px rgba(0 , 0 ,0 , 0.6);
 }
 .btn-two span{
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%; 
    z-index: -1;
    /* border: 0.2px solid blue; */
    transform: scale(0);
    box-shadow: 0px 2px 25px rgb(226, 44, 226);
    /* background: blue; */
    background: linear-gradient(40deg , rgb(226, 44, 226) ,rgb(44, 181, 226),white);
 }
 .btn-two span:nth-child(1){
    top: -15px;
    left: -8px;
    background: transparent;
 }
 .btn-two span:nth-child(2){
    top: -30px;
    left: 19px;
 }
 .btn-two span:nth-child(3){
    top: -20px;
    left: -8px;
 }
 .btn-two span:nth-child(4){
    top: 60px;
    left: -10px;
 }
 .btn-two span:nth-child(5){
    top: 80px;
    left: 10px;
 }
 .btn-two span:nth-child(6){
    top: 50px;
    left: 20px;
 }
 .btn-two span:nth-child(7){
    top: 70px;
    left: 25px;
 }
 .btn-two span:nth-child(8){
    top: 90px;
    left: 35px;
 }
 .btn-two span:nth-child(9){
    top: 70px;
    left: 130px;
 }
 .btn-two span:nth-child(10){
    top: 75px;
    left: 62px;
 }
 .btn-two span:nth-child(11){
    top: 60px;
    left: 72px;
 }
 .btn-two span:nth-child(12){
    top: 58px;
    left: 95px;
 }
 .btn-two span:nth-child(13){
    top: -30px;
    left:30px;
 }
 .btn-two span:nth-child(14){
    top: -40px;
    left:50px;
 }
 .btn-two span:nth-child(15){
    top: -20px;
    left:90px;
 }
 .btn-two span:nth-child(16){
    top: -35px;
    left:80px;
 }
 .btn-two span:nth-child(17){
    top: -20px;
    left:50px;
 }
 .btn-two span:nth-child(18){
    top: -30px;
    left:100px;
 }
 .btn-two span:nth-child(19){
    top: -30px;
    left:130px;
 }
 .btn-two span:nth-child(20){
    top: -10px;
    left:130px;
 }
 .btn-two span:nth-child(21){
    top: 3px;
    left:150px;
 }
 .btn-two span:nth-child(22){
    top: 6px;
    left:150px;
 }
 .btn-two span:nth-child(23){
    top: 6px;
    left:130px;
 }
 .btn-two span:nth-child(24){
    top: 30px;
    left:130px;
 }
 .btn-two span:nth-child(25){
    top: 35px;
    left:150px;
 }
 .animebtn {
   animation: moving 0.5s linear reverse forwards; 
 }
 @keyframes moving{
    0%{
        transform: scale(0);
    }
    10%{
       transform: scale(1);
    }
    100%{
       top: 50%;
       left: 50%;
    }
 }








 .home-link{
  border-bottom: 2px solid white;
  /* background-color: red; */
 }
 .h3{
     background-image: linear-gradient(to right,rgb(226, 44, 226) ,rgb(44, 181, 226),white );
     -webkit-background-clip: text;
     color: transparent;
 }
 .class-text-title{
     font-family: 'Ubuntu', sans-serif;
     padding:  0.5rem 0rem;
     background-image: linear-gradient(to right, rgb(226, 44, 226) ,rgb(44, 181, 226),white);
     -webkit-background-clip : text;
     color: transparent;

 }
 .cont-hi{
     color: white;
     font-size: 1.5rem;
 }
 /*all-cont-hd END ==============  HEADER */
  .abaut-header{
      display: grid;
      place-content : center;
     background-image: linear-gradient(45deg ,rgb(226, 44, 226) ,rgb(44, 181, 226));
     -webkit-background-clip:  text;
     color: transparent;
    font-family: 'Poppsins', sans-serif;
    padding: 10px;
    /* border-bottom: none; */
  }
 /* .span-aba{
      border-bottom: 2px solid peru;
      padding: 5px 0px;
  }
  .span-ut{
      border-bottom: 2px solid navy;
      padding: 5px 0px;
  }*/
  .abaut-cont{
      /* border-bottom: 4px solid skyblue; */
      padding: 5px;
      font-size: 25px;
  }
  .cont-org-abaut{
      padding: 3rem 8rem;
      /* background-color: aquamarine; */
      position: relative;
  }
  .abaut-back{
    position: relative;
    /* background-color: blue; */
    /* min-height: 10vh; */
  }
  
  .cont-my-h-value{
      /*background-color: navy;*/
      height: 100px;
      width: 100px;
      border-radius:360px ;
      display: grid;
      place-content: center;
      color: pink;
      border:4px solid skyblue ;
  }
  .abaut-h-one{
      display: grid;
      place-content: center;

  }
  .abaut-f-one{
      display: flex;
      justify-content: space-around;

  }
  .cont-for-more-about-me{
    position: relative;
  }
  .btn-abaut-me{
    background-color: black;
    color: white;
    padding: 15px 30px;
    position: absolute;
    top: 20px;
    border: none;
    font-weight: bold;
    border-radius: 2rem;
    transition: transform 0.2s ease;
    box-shadow: 0px 5px 25px rgba(0 , 0 ,0 , 0.2);
  }
  .btn-abaut-me:active {
    transform: scale(0.80);
    background:#737373;
    box-shadow: 0px 5px 25px rgba(0 , 0 ,0 , 0.1);
    
  }

  /*================END FOR ABAUT=======*/
 
  
  .cont-all-skills{
      padding: 3rem 8rem;
      position: relative;
      /* background-color: aquamarine; */
      /* z-index: -2; */
      /* opacity: -1; */
      /* box-sizing: border-box; */

  }
  .cont-org-skill{
    position: relative;
    
  }



  /* BTN  WAVY */
  .wavy-two{
    z-index: -1;
    margin-top: -6px;
    
  }
  .cont-for-between-wavy{
    position: absolute;
    /* background-color: blue; */
    top: 30%; 
    width: 100%;
    z-index: -1;
  

  }
  .abaut-wavy{
    
    z-index: -1;
   
  }
  .all-cont-about{
    position: relative;
   
  }
  
  @media (max-width:1200px){
    .cont-for-between-wavy{
        top: 85%;
    }
  }
  /* END BTN WAVY */
/* START FOR SKILLS  */
  .video-about{
    mix-blend-mode:multiply;
  }
  .cont-for-ski-svg-h-b{
    width: 100px;
    height: 100px;

  }
  .cont-prog-hd-skill{
    display: grid;
    place-content: center;
    padding: 10px;
  }
  /*  */
  .sec-cond-body{
    display: grid;
    /* padding: 40px 0px; */
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-auto-rows: 100px;
  }
  .cont-prog-body-skill-prgaming{
    display: grid;
    /* padding: 25px 0px; */
    grid-template-columns: repeat(auto-fit,minmax(120px , 1fr));
    /* grid-auto-rows: 120px; */
    
  }
  .cont-body-skills{
    display: grid; 
    /* grid-template-columns: repeat(auto-fit,minmax(100px ,1fr));
    grid-auto-rows: 1000px; */
    grid-template-columns: repeat(auto-fit,minmax(400px ,1fr));
    grid-auto-rows: 370px;
    /* grid-gap: 10px; */
    /* padding: 5rem; */
  }
  /* div > div > div.cont-body-skills{
    background-color: blue;
    display: grid;
    place-content: center;
 } */
  .cont-for-ski-svg-h-b{
      box-shadow: 0px 5px 25px rgba(0 , 0 ,0 , 0.2);
      padding: 25px;
      border-radius: 1rem;
      background:#1a1a1a;
      color: white;
  }
  .cont-for-ski-svg-h-b:hover {
    background: #d9d9d9;
    color: black;
    padding: 0px;
    
  }

/* ALL CONTAINER  */
.cont-for-all-body-item{
  position: relative;
  /* z-index: 1; */
}

.button-openchat{
  border: none;
  background-color: transparent;
  /* transform: transition; */
   transition :transform   0.2s ease;
}
.button-openchat:active {
  transform: scale(0.80);
}



